#container {
  display: grid;
  grid-template-areas: "nav hd"
                       "nav  main"
                       "nav  foot";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 20% 1fr;
  height: 100%;
  #content {
    padding: 30px 50px;
  }
}

#container > header {
  grid-area: hd;
  // background-color: #8ca0ff;
}

#container > nav {
  grid-area: nav;
  // background-color: #8ca0ff;
}

#container > main {
  grid-area: main;
  // background-color: #8ca0ff;
}

