#container {
  display: grid;
  grid-template-areas: "nav hd"
                       "nav  main";
                      //  "nav  main";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 20% 1fr;
  height: 100%;
  transition: 2s;
  #content {
    padding: 30px 50px;
  }
}

header {
  grid-area: hd;
}

nav {
  grid-area: nav;
  transition: all 1s;
}

main {
  grid-area: main;
}

#map {
  height: 80vh;
  width: 100%;
}