#container {
  display: grid;
  grid-template-areas: "nav hd"
                       "nav  main"
                       "nav  foot";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 20% 1fr;
  height: 100%;
  transition: 2s;
  #content {
    padding: 30px 50px;
  }
}

header {
  grid-area: hd;
  // background-color: #8ca0ff;
}

nav {
  grid-area: nav;
  transition: all 1s;
  // background-color: #8ca0ff;
}

main {
  grid-area: main;
}

