.title-bar {
  background: lighten($darker, 8%);
  height: 4em;
}

.title-bar i {
  margin-top: 0.3em;
  margin-left: 0.5em;
}

.title-bar .material-icons {
  cursor: pointer;
}

h1,
h2 {
  font-family: 'Indie Flower', cursive;
  color: $pale-white;
  text-align: center;
  font-size: 1.5em;
  transition: font-size 1s;
  margin: 0;
  margin-top: 0.1em;
  display: inline-block;
  @media screen and (max-width: 950px) {
    font-size: 3em;
  }
  @media screen and (max-width: 600px) {
    font-size: 4em;
  }
}

#logo-text {
  margin: 0 auto;
  text-align: center;
}

#toggler {
  float: left;
}
