@import url('https://fonts.googleapis.com/css?family=Cabin:400');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
// colors
$darker: #2D2E2E;
$pale-white: rgb(214, 200, 200);
$input-field: #888;
// sizes

$break-tiny:   25em;
$break-small: 37em;
$break-medium: 40em;
$break-large: 52em;
$break-larger: 76em;


$font-cabin: 'Cabin', helvetica, arial, sans-serif;
$fonty-monty: 'Montserrat', sans-serif;
