@import url("https://fonts.googleapis.com/css?family=Cabin:400");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #2D2E2E;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  height: 100vh; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  height: auto;
  left: 0.313em;
  line-height: normal;
  padding: 0.938em 1.438em 0.875em;
  text-decoration: none;
  top: 0.313em;
  width: auto;
  z-index: 100000; }

nav {
  background: #2D2E2E;
  height: 100%; }
  nav .logo-img {
    display: block;
    width: 10em;
    margin: auto;
    margin-top: -2em;
    -webkit-transition: width;
    transition: width;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s; }
    @media screen and (max-width: 22.5em) {
      nav .logo-img {
        width: 100px; } }
  nav ul {
    grid-area: results;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    nav ul .hidden {
      display: none; }
    nav ul li {
      text-align: center;
      text-justify: left;
      color: #d6c8c8;
      padding: 0.425em;
      font-family: "Montserrat", sans-serif;
      margin-left: 0.938em;
      font-weight: bold;
      display: block;
      font-size: 1em;
      text-decoration: none;
      -webkit-transition: font-size 1s;
      transition: font-size 1s; }
      nav ul li .selected {
        background-color: black; }
      @media screen and (max-width: 600px) {
        nav ul li {
          font-size: 2em; } }

.hidden {
  width: 0em; }

.search-area {
  text-align: center; }
  .search-area .search-box {
    margin: 1em auto;
    position: relative;
    width: 100%; }
    .search-area .search-box form {
      border-radius: 0.313em;
      display: inline-block; }
    .search-area .search-box input {
      font-family: "Cabin", helvetica, arial, sans-serif;
      color: #888;
      background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
      background: linear-gradient(#333, #222);
      background: #222;
      border: 0.063em solid #444;
      border-radius: 0.313em;
      display: block;
      float: left;
      font-size: 0.75em;
      font-weight: 400;
      height: 3em;
      margin: 0;
      padding: 0 0.625em;
      width: 15em; }
      @media screen and (max-width: 950px) {
        .search-area .search-box input {
          font-size: 1em; } }
      @media screen and (max-width: 600px) {
        .search-area .search-box input {
          width: 25em;
          height: 5em;
          font-size: 1.5em; } }
    .search-area .search-box input::-webkit-input-placeholder {
      color: #888; }
    .search-area .search-box input:-moz-placeholder {
      color: #888; }
    .search-area .search-box input:focus {
      background: #222922;
      background: -webkit-gradient(linear, left top, left bottom, from(#333933), to(#222922));
      background: linear-gradient(#333933, #222922);
      border-color: #249caa;
      color: #efe;
      outline: none; }
    .search-area .search-box button {
      background: #222;
      background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
      background: linear-gradient(#333, #222);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 0.063em solid #444;
      border-left-color: #000;
      border-radius: 0 0.313em 0.313em 0;
      display: block;
      font-family: "Cabin", helvetica, arial, sans-serif;
      font-size: 0.625em;
      font-weight: 400;
      height: 2.5em;
      margin: 0;
      padding: 0;
      position: relative;
      width: 35px; }
    .search-area .search-box :hover,
    .search-area .search-box :focus {
      background: #292929;
      background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#292929));
      background: linear-gradient(#393939, #292929);
      color: #1e97b9;
      outline: none; }
    .search-area .search-box :active {
      background: #292929;
      background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#292929));
      background: linear-gradient(#393939, #292929);
      top: 0.063em; }

.hideItem {
  display: none; }

.slogan {
  font-family: "Cabin", helvetica, arial, sans-serif;
  color: #d6c8c8;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 1em; }

.slogan:first-of-type {
  font-size: 1em;
  margin-top: -2.5em; }

.grid-logo {
  margin: auto; }
  @media screen and (max-width: 600px) {
    .grid-logo {
      display: none; } }

#container {
  display: grid;
  grid-template-areas: "hd" "nav" "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto 30% auto;
  height: 100%;
  -webkit-transition: 2s;
  transition: 2s; }
  #container #content {
    padding: 1.875em 3.125em; }

header {
  grid-area: hd; }

nav {
  grid-area: nav;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 0;
  display: grid;
  grid-template-areas: "logo-search search-results";
  grid-template-columns: 50% 50%; }
  @media screen and (max-width: 600px) {
    nav {
      grid-template-areas: "search-results";
      grid-template-columns: 100%; } }

main {
  grid-area: main; }

#logo-search {
  grid-area: logo-search; }

#search-results {
  grid-area: search-results; }

.title-bar {
  background: #414343;
  height: 4em; }

.title-bar i {
  margin-top: 0.3em;
  margin-left: 0.5em; }

.title-bar .material-icons {
  cursor: pointer; }

h1,
h2 {
  font-family: 'Indie Flower', cursive;
  color: #d6c8c8;
  text-align: center;
  font-size: 1.5em;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
  margin: 0;
  margin-top: 0.1em;
  display: inline-block; }
  @media screen and (max-width: 950px) {
    h1,
    h2 {
      font-size: 3em; } }
  @media screen and (max-width: 600px) {
    h1,
    h2 {
      font-size: 4em; } }

#logo-text {
  margin: 0 auto;
  text-align: center; }

#toggler {
  float: left; }

.infoWindow {
  font-family: "Cabin", helvetica, arial, sans-serif;
  padding: 0;
  margin: 0; }

.info-title {
  font-size: 2.5em;
  margin-bottom: 0; }
  @media screen and (max-width: 950px) {
    .info-title {
      font-size: 1.5em; } }
  @media screen and (max-width: 600px) {
    .info-title {
      font-size: 1.2em;
      font-weight: bold; } }
  @media screen and (max-width: 411px) {
    .info-title {
      font-size: 1em; } }

.info-address {
  font-size: 2.5em; }
  @media screen and (max-width: 950px) {
    .info-address {
      font-size: 1.5em; } }
  @media screen and (max-width: 600px) {
    .info-address {
      font-size: 1.2em;
      font-weight: bold; } }
  @media screen and (max-width: 411px) {
    .info-address {
      font-size: 0.7em; } }

.info-phone {
  font-size: 1.5em; }
  @media screen and (max-width: 950px) {
    .info-phone {
      font-size: 1em;
      font-weight: bold; } }
  @media screen and (max-width: 600px) {
    .info-phone {
      font-size: 0.7em;
      font-weight: bold; } }
  @media screen and (max-width: 411px) {
    .info-phone {
      font-size: 0.7em; } }

.info-img {
  width: 25em;
  display: block;
  margin: auto; }
  @media screen and (max-width: 950px) {
    .info-img {
      width: 20em; } }
  @media screen and (max-width: 600px) {
    .info-img {
      width: 17em; } }

.info-link {
  margin-top: 10px;
  font-size: 1.5em; }
  @media screen and (max-width: 950px) {
    .info-link {
      font-size: 1.2em; } }
  @media screen and (max-width: 600px) {
    .info-link {
      font-size: 1em; } }

.material-icons {
  display: inline; }

.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.map {
  height: 300px; }

@media screen and (min-width: 1024px) {
  .map {
    height: 500px; } }
